@using WebChatExam.Models.Repositories
@{
    ViewData["Title"] = "Chats";
}

<link rel="stylesheet" href="~/css/chatsPage.css" />
<link rel="stylesheet" href="~/css/chatsList.css" />
<link rel="stylesheet" href="~/css/messages.css" />

<script>
    function SetCurrentChatId() {

    }
</script>

<div class="chatsPage">
    <div class="chats" id="chats">
        <form method="post" class="inputLine" asp-controller="Home" asp-action="CreateChat">
            <input type="text" placeholder="Enter a name for a new chat" name="name" autocomplete="off">
            <button type="submit">Create chat</button>
        </form>
        <form method="post" class="inputLine" asp-controller="Home" asp-action="ChatsSearch">
            <input type="text" placeholder="Search.." name="search" autocomplete="off">
            <button type="submit">Search</button>
        </form>
            @foreach(var chat in Repository.Chats)
            {
                <form method="post" asp-controller="Home" asp-action="OpenChat">
                    <div class="chat-container darker">
                        <input type="hidden" value="@chat.Id" name="Id" />
                        <input type="hidden" value="@chat.Messages" name="Messages" />
                        <input type="hidden" value="@chat.Name" name="Name" />
                        <input type="hidden" value="@chat.PhotoUrl" name="PhotoUrl" />
                        <input type="hidden" value="@chat.Users" name="Users" />
                        <input type="submit" class="chatSubmit" value=""/>
                        <img src=@Url.Content(chat.PhotoUrl) alt="Avatar">
                        <p><strong>@chat.Name</strong></p>
                        <p>Last message</p>
                        <span class="time-left">11:00</span>
                        <span class="dot">11</span>
                    </div>
                </form>
            }
    </div>
    
    
    <div class="messages" id="messages">
        <div>
            @foreach(var message in Repository.Messages)
            {
                @if (message.Sender.Id == CurrentUser.Id)
                {
                    <div class="message-container message-darker">
                        <img src=@Url.Content(message.Sender.PhotoUrl) alt="Avatar" class="right">
                        <p>@message.Text</p>
                        <span class="message-time-left">@message.Time</span>
                    </div>
                }
                else
                {
                    <div class="message-container">
                        <img src=@Url.Content(message.Sender.PhotoUrl) alt="Avatar">
                        <p>@message.Text</p>
                        <span class="message-time-right">@message.Time</span>
                    </div>
                }
            }
        </div>
        <form method="post" class="inputLine" asp-controller="Home" asp-action="SendMessage" style="position: fixed; bottom: 0; width:44%; height:5%;">
            <input type="text" placeholder="Enter your message" name="text" autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </div>
    

    <div class="chatSettings" id="settings">
        <form method="post" class="inputLine" asp-controller="Home" asp-action="AddUserToChat">
            <input type="text" placeholder="Enter username" name="login" autocomplete="off">
            <button type="submit">Add</button>
        </form>
    </div>
</div>

