@using WebChatExam.Models.Repositories
@{
}

@if(Repository.CurrentChatId == -1)
{
    <div style="position:absolute; top:50%; width:100%; text-align:center">
        <h3>Select a chat to start messaging.</h3>
    </div>
}
else {
    if(Repository.Messages.Count == 0)
    {
        <div style="position:absolute; top:50%; width:100%; text-align:center">
            <h3>No messages yet.</h3>
        </div>
    }
    else
    {
       <div>
            @foreach(var message in Repository.Messages)
            {
                @if(message.Sender is not null)
                {
                    @if (message.Sender.Id == CurrentUser.Id)
                    {
                        <div class="message-container message-darker">
                            <img src=@Url.Content(message.Sender.PhotoUrl) alt="Avatar" class="userImage right">
                            <p>@message.Text</p>
                            <span class="message-time-left">@message.Time</span>
                        </div>
                    }
                    else
                    {
                        <div class="message-container">
                            @if(message.Sender.Login == "SYSTEMLOGIN")
                            {
                                <p style="text-align:center">@message.Text</p>
                            }
                            else
                            {
                               <h6>@Repository.Chats.Where(x => x.Id == Repository.CurrentChatId).FirstOrDefault()?.Users.Where(y => y.Id == message.Sender.Id).FirstOrDefault()?.Login</h6> 
                               <img src=@Url.Content(message.Sender.PhotoUrl) alt="Avatar" class="userImage">
                               <p>@message.Text</p>
                            }
                            <span class="message-time-right">@message.Time</span>
                        </div>
                    }
                }
                else
                {
                    <div class="message-container">
                        <h6>Unknown</h6>
                        <img src="~/images/default-user.png" alt="Avatar" class="userImage">
                        <p>@message.Text</p>
                        <span class="message-time-right">@message.Time</span>
                    </div>
                }
            }
       </div> 
    }
}

<form class="inputLine" style="position: fixed; bottom: 0; width:44%; height:5%;">
        <input type="text" placeholder="Enter your message" name="text" autocomplete="off" id="messageInput" autofocus>
        <button type="button" onclick="sendMessage()" id="sendMessageButton">Send</button>
</form>

