@using WebChatExam.Models.Repositories
@{
}
                                      
<script type="text/javascript">
    function sendMessage() {
        var message = $("#messageInput").serialize();
        //alert(message);
        $.ajax({
            type: 'POST',
            url: '/Home/SendMessage',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: message,
            success: function (result) {
                //alert('Successfully received message');
                //alert(result);
                location.reload();
            }//,
            //error: function () {
            //    alert('Failed to receive the message');
            //}
        })
    }
</script>

<div class="messages" id="messages">
    @if(Repository.CurrentChatId == -1)
    {
        <div style="position:absolute; top:50%; width:100%; text-align:center">
            <h3>Select a chat to start messaging.</h3>
        </div>
    }
    else {
        if(Repository.Messages.Count == 0)
        {
            <div style="position:absolute; top:50%; width:100%; text-align:center">
                <h3>No messages yet.</h3>
            </div>
        }
        else
        {
           <div>
                @foreach(var message in Repository.Messages)
                {
                    @if (message.Sender.Id == CurrentUser.Id)
                    {
                        <div class="message-container message-darker">
                            <img src=@Url.Content(message.Sender.PhotoUrl) alt="Avatar" class="userImage right">
                            <p>@message.Text</p>
                            <span class="message-time-left">@message.Time</span>
                        </div>
                    }
                    else
                    {
                        <div class="message-container">
                            <h6>@Repository.Chats.Where(x => x.Id == Repository.CurrentChatId).FirstOrDefault()?.Users.Where(y => y.Id == message.Sender.Id).FirstOrDefault()?.Login</h6>
                            <img src=@Url.Content(message.Sender.PhotoUrl) alt="Avatar" class="userImage">
                            <p>@message.Text</p>
                            <span class="message-time-right">@message.Time</span>
                        </div>
                    }
                }
           </div> 
        }
    }
    @*<form method="post" class="inputLine" asp-controller="Home" asp-action="SendMessage" style="position: fixed; bottom: 0; width:44%; height:5%;">
            <input type="text" placeholder="Enter your message" name="text" autocomplete="off" id="messageInput" autofocus>
            <button type="submit" onclick="sendMessage()">Send</button>
    </form>*@
    <form class="inputLine" style="position: fixed; bottom: 0; width:44%; height:5%;">
            <input type="text" placeholder="Enter your message" name="text" autocomplete="off" id="messageInput" autofocus>
            <button type="button" onclick="sendMessage()">Send</button>
    </form>
</div>

