@using WebChatExam.Models.Repositories
@{
}

<form class="inputLine">
    <input type="text" placeholder="Enter a name for a new chat" name="name" id="createChatInput" autocomplete="off">
    <button type="button" onclick="createChat()" id="createChatButton">Create chat</button>
</form>
<form method="post" class="inputLine" asp-controller="Home" asp-action="ChatsSearch">
    <input type="text" placeholder="Search.." name="search" autocomplete="off" id="searchInput">
    <button type="submit" id="searchButton">Search</button>
</form> 
@foreach(var chat in Repository.Chats)
{
    <form>
        
        <div class="chat-container">
            <input type="hidden" value="@chat.Id" name="Id" />
            <input type="hidden" value="@chat.Messages" name="Messages" />
            <input type="hidden" value="@chat.Name" name="Name" />
            <input type="hidden" value="@chat.PhotoUrl" name="PhotoUrl" />
            <input type="hidden" value="@chat.Users" name="Users" />
            @if(chat.Id == Repository.CurrentChatId)
            {
                <input type="button" class="chatSubmit selectedChat" value="" id="openChatButton" onclick="openChat(@chat.Id.ToString())"/> 
            }
            else
            {
                <input type="button" class="chatSubmit" value="" id="openChatButton" onclick="openChat(@chat.Id.ToString())"/> 
            }
            <img src=@Url.Content(chat.PhotoUrl) alt="Avatar">
            <p><strong>@chat.Name</strong></p>
            <p id=@chat.Id>
                @if(@chat.Messages.LastOrDefault()?.Text.Length > 30)
                {
                    @chat.Messages.LastOrDefault()?.Text.Substring(0,30).Insert(30,"...")
                }
                else
                {
                    @chat.Messages.LastOrDefault()?.Text
                }
            </p>
            <span class="time-left"> 
                @if(chat.Messages.LastOrDefault()?.Time.Date == DateTime.Now.Date)
                {
                    @chat.Messages.LastOrDefault()?.Time.ToString("t")
                }
                else
                {
                    @chat.Messages.LastOrDefault()?.Time.Date.ToString("d")
                }
            </span>
            <span class="dot">??</span>
        </div>
    </form>
}